@import "../_constants/_vars.sass"
    
.header
    display: inline-flex
    margin-bottom: 15px
    &_nav
        display: inline-flex
        margin-right: 150px
        &-item:hover
            font-size: 110%
            color: $main-accent-color
    &_search
        display: inline-flex
        width: 300px
        &-input
            width: 270px
            height: 42px
            margin-top: 10px
            padding-left: 17px
            font-size: 14px
            border: 1px solid $main-accent-color
            border-radius: 4px
            background-color: transparent
            color: #999999
        &-icon
            cursor: pointer
            margin-left: -30px
            margin-bottom: -10px
    &_signup
        float: right
    &_select
        border-color: $main-accent-color
        border-radius: 5px
        padding: 0 5px
    &_link
        color: $main-description
    &_link:hover, &_link:active, &_link:focus
        text-decoration: none

    &_nav-list
        display: inline-flex
        list-style: none

    &_nav-item
        margin-left: 20px
        width: 90px

    .nav-active
        color: $main-accent-color