body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.row {
  margin: 0;
}

.header {
  display: inline-flex;
}
.header_nav {
  display: inline-flex;
  margin-right: 150px;
}
.header_search {
  display: inline-flex;
  width: 300px;
}
.header_search-input {
  width: 270px;
  height: 42px;
  margin-top: 10px;
  padding-left: 17px;
  font-size: 14px;
  border: 1px solid #906FDA;
  border-radius: 4px;
  background-color: transparent;
  color: #999999;
}
.header_search-icon {
  cursor: pointer;
  margin-left: -30px;
  margin-bottom: -10px;
}
.header_signup {
  float: right;
}
.header_select {
  border-color: #906FDA;
  border-radius: 5px;
  padding: 0 5px;
}
.header_link {
  color: #555555;
}
.header_link:hover, .header_link:active, .header_link:focus {
  text-decoration: none;
}
.header_nav-list {
  display: inline-flex;
  list-style: none;
}
.header_nav-item {
  margin-left: 20px;
}
.header .nav-active {
  color: #906FDA;
}

.main {
  line-height: 20px;
}
.main_header, .main_subheader, .main_description, .main_buttons, .main_useful-title {
  text-align: center;
}
.main_header, .main_subheader, .main_useful {
  color: #222222;
}
.main_header, .main_useful-title {
  font-size: 46px;
}
.main_signup {
  margin-top: -40px;
  text-align: right;
}
.main_subheader {
  font-size: 46px;
}
.main_description {
  text-align: center;
  margin: 0 auto;
  color: #555555;
  width: 50%;
  line-height: 120%;
  word-break: break-word;
}
.main_description-about {
  text-align: left;
  width: 60%;
  font-size: 18px;
}
.main_pic {
  position: relative;
}
.main_pic-image {
  z-index: 2;
}
.main_pic-gradient {
  width: 100%;
  margin-top: -150px;
  z-index: 1;
}
.main_buttons {
  margin-top: 20px;
}
.main_showmore {
  text-align: center;
}
.main_showmore-link {
  color: #777777;
}
.main_showmore-link:hover, .main_showmore-link:focus {
  color: #777777;
  text-decoration: underline;
}
.main_showmore-image {
  border: 2px solid #906FDA;
  border-radius: 50%;
  background-color: transparent;
}
.main_steps {
  margin-top: 50px;
}
.main_step-number, .main_step-title {
  font-size: 36px;
  margin-top: 10px;
}
.main_step-number {
  font-weight: normal;
}
.main_step-title {
  font-weight: bold;
}
.main_step-description {
  font-size: 15px;
  color: #555555;
}
.main_articles-article {
  width: 350px;
  height: 440px;
  margin-right: 30px;
  text-align: center;
  box-shadow: 0px 10px 30px #99999933;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s linear;
}
.main_articles-article:hover {
  background-color: #d5d5d5;
}
.main_articles-article-userpic {
  margin-top: 44px;
}
.main_articles-article-title {
  font-size: 20px;
  font-weight: normal;
  color: #222222;
}
.main_articles-article-description {
  font-size: 15px;
  line-height: 27px;
  color: #555555;
}
.main_articlesubheader {
  margin-left: 15px;
  font-size: 14px;
  color: #555555;
}
.main_articlecontent blockquote {
  width: 814px;
  height: auto;
  text-align: justify;
  word-wrap: break-word;
  margin: 0 auto;
  line-height: 32px;
  padding: 20px 15px;
  font-size: 24px;
  font-style: italic;
  color: #999999;
  border-left: 1px solid #906FDA;
}
.main_breadcrumbs {
  text-align: center;
  margin: 40px 0;
}
.main_breadcrumbs-nav {
  color: #222222;
  text-decoration: none;
  width: 37px;
  height: 37px;
  padding: 10px;
}
.main_breadcrumbs-nav:hover, .main_breadcrumbs-nav:focus, .main_breadcrumbs-nav:active {
  color: #222222;
  text-decoration: none;
}
.main_useful-navigation {
  margin: 20px 0;
  text-align: center;
}
.main .article-header {
  margin-left: 15px;
  text-align: justify;
}
.main .direction-page {
  width: 68px;
  height: 23px;
  margin-right: 10px;
}
.main .active-page {
  border: 1px solid #906FDA;
  border-radius: 4px;
}

.button {
  width: 131px;
  height: 42px;
  border: 1px solid #906FDA;
  border-radius: 5px;
  padding: 5px;
  font-size: 80%;
  color: #906FDA;
}
.button-accent {
  background-color: #906FDA;
  color: #ffffff;
}
.button-margin {
  margin-right: 15px;
}
.button-nav {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #906FDA;
  color: white;
}
.button-header {
  margin-top: 10px;
  margin-bottom: -20px;
  margin-left: 70px;
}

.footer {
  font-size: 15px;
}
.footer_title {
  color: #101C21;
}
.footer_link {
  color: #777777;
}
.footer_link:hover, .footer_link:focus {
  color: #777777;
  text-decoration: underline;
}
.footer_text {
  color: #777777;
}
.footer_block-socialbuttons {
  display: inline-flex;
}
.footer_block-socialbutton {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  background-color: #906FDA;
  border-radius: 50%;
}
.footer_block-socialimage {
  margin-left: 13px;
  margin-top: 8px;
}

/*# sourceMappingURL=style.css.map */
