@import "../../_constants/_vars.sass"

&_description
  text-align: center
  margin: 0 auto
  color: $main-description
  width: 50%
  line-height: 120%
  word-break: break-word
  &-about
    text-align: left
    width: 60%
    font-size: 18px