@import "../../_constants/_mixins.sass"
@import "../../_constants/_vars.sass"

&_header, &_subheader, &_description, &_buttons, &_useful-title
  text-align: center
&_header, &_subheader, &_useful
  color: $main-title
&_header, &_useful-title
  font-size: $title-font-size
&_header
  &-about-subheader
    font-weight: normal