@import "../../_constants/_mixins.sass"
@import "../../_constants/_vars.sass"

&_profile
  margin-left: $blog-margin-left
  &item
    &-title
      margin-bottom: 10px
    &-input
      @include articleInput()

.last-profile-item
  margin-bottom: 15px