@import "../../_constants/_vars.sass"

&__steps
  margin-top: 50px
  .row
    margin-top: 20px
&__step
  &_number, &_title
    font-size: $about-title-font-size
    margin-top: 10px
  &_number
    font-weight: normal
  &_title
    font-weight: bold
    font-size: 28px
    line-height: 30px
  &__accordeon
    height: 400px
  &_description
    font-size: 14px
    color: $main-description
    display: none
  &_pic
    width: 500px

.need-description
  font-style: italic