@import "vars"

@mixin link($color: $footer-text)
        color: $color
        &:hover, &:focus
            color: $color
            text-decoration: underline

@mixin alertDiv()
  display: none
  color: $alert
  margin: 0 auto
  width: $blog-reply-width
  padding: 15px
  border-radius: 5px

@mixin articleInput()
  padding: 10px
  border: 1px solid $main-accent-color
  border-radius: 5px

// media queries mixin idea from https://dev.to/paul_duvall/sass-and-media-queries-hb2
@mixin maxWidthResponsive($value)
  @media (max-width: $value)
    @content

@mixin minWidthResponsive($value)
  @media (min-width: $value)
    @content
